<template>
    <div id="app">

        <nav aria-label="main navigation" class="navbar" role="navigation">

            <div class="navbar-brand">

                <div class="navbar-item">
                    <h2 class="site-title title is-3">@allardyce | parallax</h2>
                </div>
                
                <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample" role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

            </div>

            <div class="navbar-menu" id="navbarBasicExample">

                <div class="navbar-start">

                    <a class="navbar-item" href="#quick-start">Quick Start</a>
                    <a class="navbar-item" href="#options">Options</a>
                    
                </div>

                <div class="navbar-end">

                    <div class="navbar-item">
                        <a class="button is-primary" href="https://gitlab.com/allardyce/parallax/blob/master/CHANGELOG.md" target="_blank">Changelog</a>
                    </div>

                    <a class="navbar-item" href="https://www.npmjs.com/package/@allardyce/parallax" target="_blank" title="NPM">
                        <NPMIcon class="icon is-large" />
                    </a>

                    <a class="navbar-item" href="https://gitlab.com/allardyce/parallax" target="_blank" title="Gitlab">
                        <GitlabIcon class="icon is-large" />
                    </a>

                </div>

            </div>
        </nav>

        <section class="hero is-primary is-bold is-medium">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1 site-title has-text-dark">
                        @allardyce | parallax
                    </h1>
                </div>
            </div>

        </section>

        <section class="min">
            <img src="img/pictures/adventure-agriculture-asia-1832328.jpg" v-parallax="{ direction: 'up' }" />
        </section>

        <section class="row container content" id="quick-start">

            <h2>Quick Start</h2>

            <p>Get started in under 1 minute</p>

            <h4>Installation</h4>

            <pre class="code-block">
<code><span style="color: #dcdcaa;">yarn</span> <span style="color: #f1f2f3;">add @allardyce/parallax</span></code></pre>

            <hr>
            
            <h4>Setup</h4>

            <pre class="code-block">
<code><span style="color: #c586c0;">import</span> <span style="color: #9cdcfe;">parallax</span> <span style="color: #c586c0;">from</span> <span style="color: #ce9178;">'@allardyce/parallax'</span>
<span style="color: #9cdcfe;">Vue</span><span style="color: #d4d4d4;">.</span><span style="color: #dcdcaa;">use</span><span style="color: #d4d4d4;">(</span><span style="color: #9cdcfe;">parallax</span><span style="color: #d4d4d4;">)</span></code></pre>

            <hr>

            <h4>Usage</h4>

            <pre class="code-block">
<code><span style="color: gray;">&lt;</span><span style="color: #569cd6;">section</span> <span style="color: #9cdcfe;">class</span><span style="color: #d4d4d4;">=</span><span style="color: #ce9178;">"min"</span><span style="color: gray;">&gt;</span>
<span style="color: #d4d4d4;">&nbsp;&nbsp;&nbsp; </span><span style="color: gray;">&lt;</span><span style="color: #569cd6;">img</span> <span style="color: #9cdcfe;">src</span><span style="color: #d4d4d4;">=</span><span style="color: #ce9178;">"/valid/path/image.jpg"</span> <span style="color: #9cdcfe;font-weight:700;">v-parallax</span> <span style="color: gray;">/&gt;</span>
<span style="color: gray;">&lt;/</span><span style="color: #569cd6;">section</span><span style="color: gray;">&gt;</span></code></pre>

        </section>

        <section class="row container has-text-centered">
            <h2 class="title">Overlay any element</h2>
        </section>

        <div class="container">
            <section class="hero is-medium">

                <img src="img/pictures/architecture-automotive-building-221299.jpg" v-parallax="{ direction: 'down' }" />

                <div class="hero-body">
                    <div class="has-text-centered">
                        <h1 class="title site-title has-text-light">
                            Images are pushed to background.
                        </h1>
                    </div>
                </div>
                
            </section>
        </div>

        <section class="row container content" id="options">

            <h2>Options</h2>

            <p>All options are inserted into the v-parallax directive.</p>

            <pre class="code-block">
<code><span style="color: gray;">&lt;</span><span style="color: #569cd6;">section</span> <span style="color: #9cdcfe;">class</span><span style="color: #d4d4d4;">=</span><span style="color: #ce9178;">"min"</span><span style="color: gray;">&gt;</span>
<span style="color: #d4d4d4;">&nbsp;&nbsp;&nbsp; </span><span style="color: gray;">&lt;</span><span style="color: #569cd6;">img</span> <span style="color: #9cdcfe;">src</span><span style="color: #d4d4d4;">=</span><span style="color: #ce9178;">"/valid/path/image.jpg"</span> <span style="color: #9cdcfe;">v-parallax</span><span style="color: #d4d4d4;">="{</span> <span style="color: #9cdcfe;">direction:</span> <span style="color: #ce9178;">'up'</span><span style="color: #d4d4d4;">,</span> <span style="color: #9cdcfe;">start:</span> <span style="color: #93cea8;">0.2</span><span style="color: #d4d4d4;">,</span> <span style="color: #9cdcfe;">end:</span> <span style="color: #93cea8;">0.1</span> <span style="color: #d4d4d4;">}"</span> <span style="color: gray;">/&gt;</span>
<span style="color: gray;">&lt;/</span><span style="color: #569cd6;">section</span><span style="color: gray;">&gt;</span></code></pre>

            <table class="table is-bordered is-hoverable is-middle">

                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Values</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>direction</td>
                        <td>
                            'down', 'up', 'left', 'right'
                            <br>
                            default: 'down'
                        </td>
                        <td>The direction the element moves when scrolling.</td>
                    </tr>

                    <tr>
                        <td>start</td>
                        <td>
                            0 to 1
                            <br>
                            default: 0
                        </td>
                        <td>
                            Decimal giving the percentage of the element to start at.
                            <br>
                            EG: 0.2 = crop top 20% of image.
                        </td>
                    </tr>

                    <tr>
                        <td>end</td>
                        <td>
                            0 to 1
                            <br>
                            default: 0
                        </td>
                        <td>
                            Decimal giving the percentage of the element to end at.
                            <br>
                            EG: 0.1 = crop bottom  10% of image.
                        </td>
                    </tr>

                    <tr>
                        <td>offset</td>
                        <td>
                            0 to 1
                            <br>
                            default: 0.5
                        </td>
                        <td>
                            Decimal giving the percentage of the element to offset the opposite axis by.
                            <br>
                            EG: 0.5 = center image vertically/horizontally.
                        </td>
                    </tr>

                </tbody>
            </table>

            <article class="message is-success">
                <div class="message-body">
                    <p><em>Tip</em>:  You can use <strong>start</strong> and <strong>end</strong> to change the speed of the parallax scrolling.</p>
                </div>
            </article>

            <article class="message is-success">
                <div class="message-body">
                    <p><em>Tip</em>:  The <strong>min</strong> class to the parent gives a <code>min-height: 30rem;</code> styling.</p>
                </div>
            </article>

        </section>

        <section class="row container has-text-centered">
            <h2 class="title">Control the start and end point of the image</h2>
        </section>

        <section class="row container">

            <div class="columns">

                <div class="column min">

                    <img src="img/pictures/action-adult-balance-1152854.jpg" v-parallax="{ start: 0.1, end: 0.1 }" />

                </div>

                <div class="column min">

                    <img src="img/pictures/adult-elderly-face-1933873.jpg" v-parallax />

                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container has-text-centered">
            <h2 class="title">Change the direction of the parallax</h2>
        </section>

        <section class="row container">

            <div class="columns">

                <div class="column min">

                    <img src="img/pictures/bay-beach-boats-919237.jpg" v-parallax="{ direction: 'up' }" />

                </div>

                <div class="column min">

                    <img src="img/pictures/background-beach-breathtaking-1115105.jpg" v-parallax="{ direction: 'down' }" />

                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container has-text-centered">
            <h2 class="title">Left and Right</h2>
        </section>

        <section class="row container">

            <div class="columns">

                <div class="column min">

                    <img src="img/pictures/aerial-photography-aerial-shot-beach-1936936.jpg" v-parallax="{ direction: 'left' }" />

                </div>

                <div class="column min">

                    <img src="img/pictures/animals-bed-calm-57627.jpg" v-parallax="{ direction: 'right' }" />

                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container has-text-centered">
            <h2 class="title">Ideal for Panoramas</h2>
        </section>

        <section class="row container min">

            <img src="img/pictures/20180723_113224.jpg" v-parallax="{ direction: 'right' }" />

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <footer class="footer">

            <div class="container">

                <div class="columns">

                    <div class="column">

                    </div>

                    <div class="column">
                        <div class="content has-text-right">
                            <p>built by <a href="mailto:craig@allardyce.me">allardyce</a>.</p>
                        </div>
                    </div>

                </div>

            </div>

        </footer>

        <ScrollToTop /> 
    </div>
</template>

<script>

import GitlabIcon from '@/assets/gitlab-icon.svg';
import NPMIcon from '@/assets/npm-icon.svg';

import ScrollToTop from '@/components/ScrollToTop';

export default {

    components: {
        GitlabIcon,
        NPMIcon,
        ScrollToTop,
    }
    
}
</script>


<style>
.site-title {
    padding-bottom: 0.4rem;
}
.table.is-middle td {
    vertical-align: middle;
}
</style>
