<template>
    <div class="scroll-to-top" :class="{ 'hidden': hidden }">
        <a href="#" role="button" aria-label="Scroll to top">
            <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg">
                <path class="scroll-to-top-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
            </svg>
        </a>
    </div>
</template>

<script>
export default {

    data() {
        return {
            hidden: true
        }
    },

    created() {
        window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
                if (this.hidden) this.hidden = false;
            } else {
                if (!this.hidden) this.hidden = true;
            }
        });
    }

}
</script>


<style lang="scss">

html {
    scroll-behavior: smooth;
}

.scroll-to-top {

    &.hidden {
        opacity: 0;
    }

    position: fixed;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s;

    a {

        display: block;
        height: 48px;
        margin: 1rem;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        svg {
            
            border-radius: 50%;

            background: #007bff;
            
            .scroll-to-top-arrow {
                fill: #f1f2f3;
            }

        }

    }

}

</style>
