.parallax {
    position: relative;
    overflow: hidden;
}

.parallax.min {
    min-height: 30rem;
}

.parallax.is-fullheight {
    height: 100%;
}

.parallax > .parallax-item {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 150%;
    object-fit: cover;
    will-change: transform;
}

.parallax > .parallax-item.parallax-sideways {
    min-width: 150%;
    min-height: 100%;
}